.content
{
    font-size: 1em;
}
.content button
{
    font-size: 1em;
}
.content input
{
    font-size: 1em;
}
.content select
{
    font-size: 1em;
}
.date-navigation
{
    font-family: monospace;
    font-weight: bold;
    text-align: center;
}
.page-navigation
{
    font-family: monospace;
    font-weight: bold;
    text-align: center;
}
.irclogs table
{
    font-family: monospace;
    font-size: 1em;
}
/*
.irclogs table tr:nth-child(odd)
{
    background: rgba(0,0,0, 0.05);
}
*/
.irclogs table td
{
    padding: 0px 4px;
    vertical-align: top;
}
.irclogs table td a
{
    text-decoration: underline;
}
.irclogs table td.date
{
    width: 6em;
}
.irclogs table td.name
{
    text-align: right;
    font-weight: bold;
}
.hidden
{
    display: none;
}
